<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Özelleştirmeler */
    /* Genel stiller */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
    }
    /* Başlık stilleri */
    .page-title {
      text-align: center;
      margin-top: 50px;
    }
    /* İçerik stilleri */
    .about-content {
      margin-top: 30px;
      padding: 30px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

<div class="container">
  <h1 class="page-title">Hakkımızda</h1>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="about-content">
        <h2> İSTANBUL ÜNİVERSİTESİ’NİN TEMEL DEĞERLERİ
          <br>
         
         </h2>
         <h3> Etik değerlere mutlak uyum</h3>
          <p> Atatürk ilkelerini ve Cumhuriyet kazanımlarını korumak ve yüceltmek
            <br>
            Katılımcılık
            <br>
            Çevre ve insana saygı
            <br></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non libero nec neque efficitur convallis. Nullam varius in odio a fermentum. Vivamus euismod bibendum nulla, vel gravida justo pharetra vitae.</p>
        <h2>Vizyonumuz</h2>
        <p>İstanbul Üniversitesi, dünyanın önde gelen üniversitelerinden biri olacaktır..</p>
        <h2>Misyonumuz</h2>
        <p>Doğu ile Batıyı, geçmişle geleceği buluşturan İstanbul Üniversitesi; ülkemize ve insanlığa yararlı bilgi üreten ve yetkin bireyler yetiştiren öncü üniversitedir.</p>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS ve Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
